@model ProiectColectiv.Models.ViewModels.TeachersSubjectsVM
@{
    ViewBag.Title = "Subjects";
}


<script type="text/javascript">
    function showOrHideSubgroup(select) {
        if (select.options[select.selectedIndex].value === "group")
            document.getElementById("selectSubgroup").style.display = "inline";
        else
            document.getElementById("selectSubgroup").style.display = "none";
    }

    function pressed(studentId) {
        var e = document.getElementById("selectSubject");
        var subjectId = e.options[e.selectedIndex].value;

        var e2 = document.getElementById("selectType");
        var type = e2.options[e2.selectedIndex].value;

        var value = document.getElementById("input").value;
        if (type === "year") {
            console.log("reached");
            var str = "http://ubbacademicinfo.azurewebsites.net/api/teachersubject/" + @Model.TeacherId + "/subject/" + subjectId + "/year/" + value;
            $.ajax({
                url: str,
                method: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('access_token'));
                },
                success: function (data) {
                    $("#result").css("display", "none");
                    setSnackBar("Successfully  assigned!");


				},
				error: function (data) {
					$("#result").text(data);
					$("#result").css("display", "inline");
					$("#result").css("color", "red");
				}

            });
        }
        else
        {
            var e3 = document.getElementById("selectSubgroup");
            var valueSubgroup = e3.options[e3.selectedIndex].value;
            var str = "http://ubbacademicinfo.azurewebsites.net/api/teachersubject/" + @Model.TeacherId + "/subject/" + subjectId + "/group/" + value + "/subgroup/" + valueSubgroup;
            $.ajax({
                url: str,
                method: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('access_token'));
                },
				success: function (data) {
                    $("#result").css("display", "none");
                    setSnackBar("Successfully  assigned!");


				},
				error: function (data) {
					$("#result").text(data);
					$("#result").css("display", "inline");
					$("#result").css("color", "red");
				}

            });
            }
        }
    function setSnackBar(text) {
		var x = document.getElementById("snackbar");
		x.className = "show";
		x.innerHTML = text;
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 2000);
	}



</script>
<div id="snackbar">Some text some message..</div>
<p id="result" style="display:none"></p>
<header class="major">
    <h2>Assign a subject to yourself</h2>
</header>

<!-- Content -->
<section id="content">

    <h3> Assign subject</h3>
    <select id="selectSubject">
        @foreach (var key in Model.AllSubjectName.Keys)
        {
            <option value=@key>@Model.AllSubjectName[key]</option>
        }
    </select>
    <select id="selectType" onchange="showOrHideSubgroup(this)">
        <option value="group">Group</option>
        <option value="year">Year</option>
    </select>
    <input id="input" type="text" value="" placeholder="Group/Year">
    <select id="selectSubgroup">
        <option value="0">Both Subgroups</option>
        <option value="1">Subgroup #1</option>
        <option value="2">Subgroup #2</option>
    </select>
    <button style="background-color: #e44c65; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  width: 90%;
  position:relative;
  margin-top: 5%;
  left: +5%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;" type="button" onclick="pressed()">
        Assign
    </button>

</section>