<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/App_GlobalResources/Style.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
