{% extends 'base.html' %}

<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>

{% block content %}
    <h1 class="page-header">Edit</h1>

    <!-- MODAL TO CROP THE IMAGE -->

    <div class="row">
        <div class="gallery">
            <img src="{{ photo1.file.url }}" width="400" height="200" alt="{{ photo1.file.url }}">
        </div>

        <div class="gallery">
            <img src="{{ photo2.file.url }}" width="400" height="200" alt="{{ photo2.file.url }}">
        </div>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        <button type="submit" name="gray_scale">Gray Scale</button>
        <button type="submit" name="red_filter">Red Filter</button>
        <button type="submit" name="green_filter">Green Filter</button>
        <button type="submit" name="blue_filter">Blue Filter</button>
        <button type="submit" name="save">Save Modifications</button>
        <input id="id_image1" type="hidden" name="image1" value="{{ photo1 }}">
        <input id="id_image2" type="hidden" name="image2" value="{{ photo2 }}">
    </form>

{% endblock %}