<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>
    <add name="conStr" connectionString="Data Source=DESKTOP-M6SNDNU; Initial Catalog = MovieRentalShop; Integrated Security = true"/>
 </connectionStrings>
  <appSettings>
    <add key="ServerAddress" value="localhost"/>
    <!--//SQLSERVER SQL EXPRESS DB_SGBD goie2123-->
    <add key="FormTitle" value="Lab2"/>
    <add key="Initial"  value="MovieRentalShop"/>
    <add key="UserName" value="SA"/>
    <add key="Password" value=""/>
    <add key="TableOne" value="Clients"/>
    <add key="TableTwo" value="Rents"/>
    <add key="ColumnForTableOne" value="clients_id"/>
    <add key="ColumnForTableTwo" value="rents_id"/>
    <add key="LabelOne" value="First Table"/>
    <add key="LabelTwo" value="Second Table"/>
  </appSettings>

</configuration>