div {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 1%, rgba(38,97,117,1) 3%, rgba(33,180,226,1) 67%, rgba(183,222,237,1) 95%, rgba(183,222,237,1) 97%);
	border-bottom: 14px solid rgba(0, 0, 255, 0.5);
	margin-top: -980px;
	transition: all 4s;
}

div:hover {
	margin-top: -22px;
}